<ion-header [translucent]="true">
  <ion-toolbar>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">Administracion de destintarios</a>
        <ion-button class="navbar-brand d-flex" color="dark" (click)="cerrar()">Cerrar Sesión</ion-button>
      </div>
    </nav>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Administración de Destinatarios</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Mensaje de error en caso de fallo -->
  <ion-card *ngIf="errorMessage">
    <ion-card-content color="danger">
      <p>{{ errorMessage }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Lista de destinatarios -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Destinatarios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- Itera sobre los destinatarios obtenidos -->
        <ion-item *ngFor="let destinatario of destinatarios">
          <ion-label>
            <h2>{{ destinatario.nombre }}</h2>
            <p>RUT: {{ destinatario.rut }}</p>
            <p>Correo: {{ destinatario.correo }}</p>
            <p>Telefono: {{ destinatario.telefono }}</p>
          </ion-label>
          <!-- Toggle para cambiar el estado de no_molestar -->
          <ion-toggle
            [(ngModel)]="destinatario.no_molestar"
            (ionChange)="onNoMolestarToggle(destinatario.rut, destinatario.no_molestar)">
            En lista "No Molestar"
          </ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Botón para guardar cambios -->
  <ion-button expand="block" color="primary" (click)="confirmSaveChanges()">
    Guardar Cambios
  </ion-button>
</ion-content>
