.custom-background {
  background-image: url('../../assets/Fondo.jpg'); /* Corrección de la ruta */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Asegúrate de que ocupe toda la altura de la ventana */
}
